<div class="flex flex-1 justify-center items-center">
  <div class="shadow-md rounded-md p-4 flex flex-col max-w-xl">
    <div class="text-xs text-gray-500">Say hello</div>
    <div class="text-4xl mb-6">Wanna work with me, don't be shy</div>
    <div class="mb-2 text-xs">Fullname</div>
    <div class="mb-4">
      <input
        [(ngModel)]="fullname"
        class="p-2 text-xs w-full border border-gray-300 rounded-sm active:border-gray-300"
        type="text"
        name=""
        id=""
        placeholder="Lucas Tambarin"
      />
    </div>
    <div class="mb-2 text-xs">Email</div>
    <div class="mb-4">
      <input
        [(ngModel)]="email"
        class="text-xs p-2 w-full border border-gray-300 rounded-sm active:border-gray-300"
        type="text"
        name=""
        id=""
        placeholder="l.tambarin@gmail.com"
      />
    </div>
    <div class="mb-2 text-xs">Message</div>
    <div class="mb-6">
      <textarea
        [(ngModel)]="body"
        class="p-2 text-xs w-full border border-gray-300 rounded-sm active:border-gray-300"
        name=""
        id=""
        rows="5"
        placeholder="I have a super challenging mission for you, let's call to talk about it."
      ></textarea>
    </div>
    <button
      (click)="this.sendEmail()"
      class="mb-4 w-20 flex justify-center items-center mr-4 shadow-md rounded-sm border border-blue-500 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white text-xs pt-2 pb-2 pr-3 pl-3"
    >
      Send
    </button>
    <div class="text-xs text-gray-400" style="font-size: 10px">
      I will respond to you with a 24h delay maximum, if you don't hear from me.
      I might be on a beach drinking mojitos.
    </div>
  </div>
</div>
