<div class="flex flex-1 justify-between items-center text-xs sm:text-sm">
  <div>Lucas Tambarin</div>
  <div class="flex justify-between w-40 sm:w-48">
    <div
      routerLink="/"
      (click)="handleClick('skills')"
      class="nav-item"
      [ngClass]="{
        'nav-item-active': selectedLink === 'skills'
      }"
    >
      Skills
    </div>
    <div
      routerLink="works"
      (click)="handleClick('works')"
      class="nav-item"
      [ngClass]="{
        'nav-item-active': selectedLink === 'works'
      }"
    >
      Works
    </div>
    <div
      routerLink="contact"
      (click)="handleClick('contact')"
      class="nav-item"
      [ngClass]="{
        'nav-item-active': selectedLink === 'contact'
      }"
    >
      Contact
    </div>
  </div>
</div>
