<div class="flex flex-1 flex-col">
  <div class="text-gray-500">WORKS</div>
  <div class="flex flex-col sm:flex-row justify-between mb-8">
    <div class="flex-1 text-3xl mr-4">Work hard, successful client product</div>
    <div class="flex-1 text-sm text-gray-500">
      Build close relationships with my clients. I believe dynamic collaboration
      is the only way to get the job done well.
    </div>
  </div>
  <div class="flex sm:flex-row flex-col">
    <div class="flex flex-col mb-4 sm:mb-0 sm:w-1/2 p-4">
      <img class="shadow-lg rounded-md" src="/assets/img/bespoke.svg" alt="" />
      <div
        class="flex items-center text-gray-500 font-semibold text-xs mb-4 mt-4"
      >
        <div class="mr-2">#NET</div>
        <div>#Angular</div>
      </div>
      <div class="mb-2">Bespoke</div>
      <div class="text-sm text-gray-500 mb-4">
        Website to apply for real estate loan between 750.000 and 1.000.000€.
      </div>
      <a
        href="https://bespoke.riverbank.eu/"
        target="_blank"
        class="border-b border-b-blue-500 text-blue-500 w-28"
      >
        go to website
      </a>
    </div>
    <div class="flex flex-col sm:w-1/2 p-4">
      <img
        class="shadow-lg rounded-md"
        src="/assets/img/foodsaver.svg"
        alt=""
      />
      <div
        class="flex items-center text-gray-500 font-semibold text-xs mb-4 mt-4"
      >
        <div class="mr-2">#Kotlin</div>
        <div class="mr-2">#NetCore3.1</div>
        <div>#Azure</div>
      </div>
      <div class="mb-2">Food saver</div>
      <div class="text-sm text-gray-500 mb-4">
        Mobile app that let you scan the food you shopped and warn you when the
        expiration date arrives. Aim to save wasting food.
      </div>
      <a
        href="https://play.google.com/store/apps/details?id=com.lucastambarin.foodsaver"
        target="_blank"
        class="border-b border-b-blue-500 text-blue-500 w-28"
      >
        go to website
      </a>
    </div>
  </div>
</div>
